# Stream API credentials
STREAM_API_KEY=your_stream_api_key_here
STREAM_API_SECRET=your_stream_api_secret_here
EXAMPLE_BASE_URL=https://pronto.getstream.io

# Google credentials
GOOGLE_API_KEY=your_google_api_key_here
