[tool.poetry]
name = "getstream"
version = "0.4.0"
description = ""
authors = ["sachaarbonel <sacha.arbonel@hotmail.fr>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8.1,<4.0.0"
httpx = "^0.19.0"
pyjwt = "^2.6.0"
dataclasses-json = "^0.6.0"

frozendict = "^2.3.7"
click = "^8.1.3"
urllib3 = "^1.26.7"
marshmallow = "^3.20.1"

[tool.poetry.dev-dependencies]
black = "^23.3.0"

[tool.poetry.scripts]
create-token = "getstream.cli:create_token"

[tool.poetry.group.dev.dependencies]
python-dateutil = "^2.8.2"
python-dotenv = "^1.0.0"
pytest = "^7.3.1"
flake8 = "^6.0.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
