[project]
name = "getstream"
version = "1.4.1"
description = ""
authors = [
    { name = "sachaarbonel", email = "sacha.arbonel@hotmail.fr" },
    { name = "tbarbugli", email = "tbarbugli@gmail.com" },
]
requires-python = ">=3.9,<4.0.0"
readme = "README.md"
dependencies = [
    "httpx>=0.27.0,<0.28",
    "pyjwt>=2.8.0,<3",
    "dataclasses-json>=0.6.0,<0.7",
    "marshmallow>=3.21.0,<4",
]

[dependency-groups]
dev = [
    "python-dateutil>=2.8.2,<3",
    "python-dotenv>=1.0.0,<2",
    "pytest>=7.3.1,<8",
    "flake8>=6.0.0,<7",
]
dev-dependencies = [
    "python-dotenv>=1.0.1,<2",
    "ruff>=0.4.1,<0.5",
    "pre-commit>=3.7.0,<4",
    "pytest-asyncio>=0.23.8"
]

[tool.uv]
default-groups = [
    "dev",
    "dev-dependencies",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.ruff.lint]
ignore = ["F405", "F403"]

[project.optional-dependencies]
openai-realtime = [
  "openai[realtime]==1.65.4",
  "trio >=0.22.2",
]
