[tool.poetry]
name = "getstream"
version = "1.0.4"
description = ""
authors = [
    "sachaarbonel <sacha.arbonel@hotmail.fr>",
    "tbarbugli <tbarbugli@gmail.com>"
]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.9,<4.0.0"
httpx = "^0.27.0"
pyjwt = "^2.8.0"
dataclasses-json = "^0.6.0"
marshmallow = "^3.21.0"

[tool.poetry.group.dev.dependencies]
python-dateutil = "^2.8.2"
python-dotenv = "^1.0.0"
pytest = "^7.3.1"
flake8 = "^6.0.0"

[tool.poetry.group.dev-dependencies.dependencies]
python-dotenv = "^1.0.1"
ruff = "^0.4.1"
pre-commit = "^3.7.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff.lint]
ignore = ["F405", "F403"]
