name: _run-tests
on:
  workflow_call:
    inputs:
      marker:
        description: 'pytest -m expression (e.g., `not integration` or `integration`)'
        required: true
        type: string
    secrets: { }
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  # If set, uv will run without updating the uv.lock file. Equivalent to the `uv run --frozen`.
  UV_FROZEN: "1"

jobs:
  ruff:
    name: Ruff
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install dependencies
        uses: ./.github/actions/python-uv-setup
      - name: Run Ruff linter
        run: uv run ruff check .
      - name: Run Ruff formatter
        run: uv run ruff format --check .

  test:
    name: Test "${{ inputs.marker }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    env:
      STREAM_BASE_URL: ${{ vars.STREAM_BASE_URL }}
      STREAM_API_KEY: ${{ secrets.STREAM_API_KEY }}
      STREAM_API_SECRET: ${{ secrets.STREAM_API_SECRET }}
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install dependencies
        uses: ./.github/actions/python-uv-setup
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run tests
        run: uv run pytest -m "${{ inputs.marker }}" tests/ getstream/

